@import '@/styles/color.scss';
@import '@/styles/mixin.scss';

.tradingBotItem {
  display: flex;
  flex-direction: column;
  min-height: 440px;
  height: 100%;
  background-color: var(--secondary_darken_1);
  border-radius: 8px;
  padding: 24px;
  position: relative;

  .topContent {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 28px;
    .image {
      border-radius: 50%;
    }
    .titleWrapper {
      flex: 1;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: var(--primary);
        .name {
          display: flex;
          align-items: center;
          gap: 8px;
          .expiredTag {
            padding: 2px 8px;
            background: $SUNSET_ORANGE;
            border-radius: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $WHITE;
          }
        }
        .groupUser {
          display: flex;
          align-items: center;
          gap: 4px;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: var(--on_secondary_darken_1);
        }
      }
      .description {
        color: var(--on_secondary_darken_1);
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .midContent {
    .pnlAndDrawdown {
      display: flex;
      justify-content: space-between;
      .pnlWrapper {
        .namePnl {
          font-size: 12px;
          line-height: 24px;
          color: var(--on_secondary_darken_1);
        }
        .valuePnl {
          font-size: 36px;
          line-height: 44px;
          color: $ALGAE;
          font-weight: 600;
          margin-bottom: 12px;
        }
      }
      .drawdownWrapper {
        flex: 1;
        text-align: right;
        .nameDrawdown {
          font-size: 12px;
          line-height: 24px;
          color: var(--on_secondary_darken_1);
          padding-bottom: 13px;
          white-space: nowrap;
        }
        .valueDrawdown {
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          color: var(--on_secondary_darken_1);
        }
      }
    }
    .featureName {
      color: var(--on_secondary_darken_1);
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 8px;
    }
    .description {
      color: var(--on_secondary_darken_1);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 16px;
      margin-left: 24px;
      list-style: disc;
      list-style-position: outside;
    }
  }
  .bottomContent {
    margin-top: auto;
    margin-bottom: 0;
    .buttonMoreDetails {
      font-size: 16px;
      line-height: 22px;
      padding: 0;
      margin-bottom: 6px;
      font-weight: 700;
      color: var(--primary);
    }
    .displayPrice {
      height: 24px;
      font-size: 18px;
      text-decoration: line-through;
      color: var(--on_secondary_darken_1);
    }
    .priceAndAction {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      @include mobile-device {
        flex-direction: column;
        align-items: flex-start;
      }
      .priceAndTime {
        white-space: nowrap;
      }
      .actionButton {
        @include mobile-device {
          width: 100%;
        }
      }
    }
    .price {
      font-weight: 600;
      font-size: 48px;
      color: var(--on_price);
    }
    .perTime {
      display: inline-block;
      margin-top: -10px;
      line-height: 59px;
      vertical-align: top;
      color: var(--on_secondary_darken_1);
    }
  }
}
