.container {
  margin-bottom: 8px;
  text-align: center;
  .box {
    display: inline-block;
    .group {
      --bs-text-opacity: 1;
      color: #6c757d;
    }
  }
  a {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 16px;
    transition: 0.5s;
    background-image: linear-gradient(
      to right,
      #814d8a 0%,
      #12bfe1 51%,
      #814d8a 100%
    );
    background-size: 200% auto;
    border: none;
  }
}
