@import '@/styles/color.scss';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .formContainer {
    margin: 100px 16px;
    border-radius: 8px;
    color: $WHITE;
    width: 464px;
    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .title {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 24px;
      color: var(--on_secondary_darken_2);
    }
    .description {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
      color: var(--on_secondary_darken_2);
    }
    .actionButton {
      width: 100%;
      height: 56px;
      font-size: 18px;
    }
    .supportWrapper {
      text-align: center;
      margin: 24px 0;
      .support {
        color: var(--primary);
        align-self: center;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
