$gutterColor: rgba(89, 94, 111, 0.25);
$primary: #237787;
$primary-pink: #B02BFE;
$primary-blue: #31AFFE;
$color-contrast-light: #12bfe3;

$color-green: #52b16f;
$color-red: #ff5757;
$color-white: #fff;
$color-yellow: #FFC657;
$color-orange: #FE842B;
$color-table-row: #17192D;
$color-table-text: #8F9BCE;
$color-text-placeholder: #494762;

$--r: 200px;
$--x: 1118px;
$--y: 1118px;
