@import '@/styles/color.scss';

.botListContainer {
  height: 100%;
  overflow: auto;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.emptyDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
  margin: 0 auto;
  .contentContainer {
    max-width: 277px;
    text-align: center;
    color: var(--on_secondary_darken_2);
    .icon {
      margin-bottom: 12px;
    }
    a {
      color: var(--primary);
    }
  }
}
