# Insert the following snippet into your project .npmrc

@coinmap:registry=https://asia-southeast1-npm.pkg.dev/coinmap-k8s/coinmap-npm-repo/
//asia-southeast1-npm.pkg.dev/coinmap-k8s/coinmap-npm-repo/:always-auth=true

