@import '@/styles/color.scss';
@import '@/styles/mixin.scss';

.modalContainer {
  position: fixed;
  z-index: 99; //fixed_level 2
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(40px);
  background: rgba(17, 16, 36, 0.5);
  width: 100%;
  overflow-y: auto;
  padding: 48px 80px;
  @include mobile-device {
    padding: 32px 16px;
  }
  &.noPadding {
    padding: 0;
  }
  .closeIcon {
    position: absolute;
    top: 24px;
    right: 24px;
    color: $EBONY;
    font-size: 24px;
    z-index: 1;
    background-color: $BLUE_BELL;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      color: $WHITE;
    }
  }
  .contentContainer {
    margin: 0 auto;
  }
}