.container {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 4px;
  background: #050206;

  .horizontalDivider {
    border-top: 4px solid #111024;
  }

  .product {
    padding: 32px 24px 24px;

    .header {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }

    .productTitle {
      margin-top: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }

    .productImageName {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 24px;

      .productImage {
        min-width: 48px;
        width: 48px;
        height: 48px;

        svg {
          padding: 12px;
        }

        border-radius: 50%;
      }

      .productName {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #31AFFE;
      }

      .productType {
        margin-top: 4px;
        text-transform: lowercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        &::first-line {
          text-transform: capitalize;
        }
      }
    }

    .productDescription {
      margin-top: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #616887;
    }
  }

  .billingCycle {
    padding: 24px 24px 32px 24px;

    .billingCycleTitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }

    .packageId {
      margin: 0;
      :global {
        .ant-form-item-explain-error {
          border-top: 1px solid #FF5757;
          padding-left: 12px;
          padding-top: 4px;
        }
      }
    }

    .billingCycleGroup {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 14px;

      .billingCycleItem {
        align-items: flex-start;
        min-height: 68px;
        margin: 0;
        padding: 12px;
        border: 2px solid #151424;
        border-radius: 4px;
        font-size: 16px;
        color: #fff;

        &>:nth-child(1) {
          display: flex;
          align-self: flex-start;
          margin-top: 4px;
        }

        &>:nth-child(2) {
          flex: 1;
        }

        .billingCycleItemLabel {
          display: flex;
          align-items: baseline;
          height: fit-content;

          .billingCycleItemTime {
            flex: 1;
          }

          .billingCycleItemPriceWrapper {
            text-align: right;

            .billingCycleItemPriceMonth {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: 4px;

              .billingCycleItemPrice {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
              }

              .billingCycleItemMonth {
                font-size: 12px;
                line-height: 15px;
              }
            }

            .billingCycleItemDiscount {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }

      :global(.ant-radio-wrapper-checked).billingCycleItem {
        border-color: #FFFFFF;
        background: #111024;

        .billingCycleItemPrice {
          color: #FE842B;
        }

        .billingCycleItemDiscount {
          color: #52B16F;
        }
      }

      :global {
        .ant-radio-inner {
          background-color: #FFFFFF;
        }

        .ant-radio-checked .ant-radio-inner {
          background-color: #2d98db;
        }
      }
    }
  }

  .totalBill {
    padding: 24px 24px 32px 24px;

    .totalBillTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      .savedPrice {
        display: flex;
        align-items: flex-start;
        gap: 5px;

        .discount {
          margin-top: 2px;
          font-size: 12px;
          line-height: 15px;
          color: #52B16F;
        }

        .price {
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .totalPrice {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .total {
        font-size: 24px;
        line-height: 24px;
      }

      .price {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FE842B;
      }
    }
  }
}
