.container {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;

  .header {
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .content {
    .warning {
      align-items: flex-start;
      padding: 0;
      margin-bottom: 12px;
      border: none;
      background: transparent;

      span {
        margin-right: 24px;
        margin-left: -2px;
        font-size: 20px;
        color: #FFC657;
      }

      div {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFC657
      }
    }

    .buyCurrency {
      :global {
        .ant-form-item-explain-error {
          border-top: 1px solid #FF5757;
          padding-left: 12px;
          padding-top: 4px;
        }
      }

      .groupSelect {
        width: 100%;
      }
    }


    .groupItem {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 20px 0;
      cursor: pointer;

      &:not(:first-child) {
        padding: 20px 0;
        border-top: 1px solid #1D1C32;
      }

      &>:nth-child(2) {
        flex: 1;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }

      .info {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0 12px;
        gap: 16px;

        .name {
          font-weight: 600;
          line-height: 22px;
        }
      }

      .network {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
      }
    }
  }
}

@media (min-width: 1170px) {
  .container .content {
    padding-left: 80px;

    .groupItem {
      .info {
        flex: 1;
        padding-left: 70px;
        padding-right: 24px;
      }
    }
  }
}
