@import '@/assets/scss/variables';

.tableContainer {
  min-height: 500px;
  margin-top: 16px;
}

.table {
  :global(.ant-table-thead > tr > th) {
    color: $color-table-text;
    font-size: 14px;
    line-height: 22px;

    &::before {
      display: none;
    }
  }
  td {
    color: $color-white;
  }
  :global {
    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background: #09081a;
      border-radius: 0 !important;
    }
  }
}

.favorite,
.no {
  color: $color-table-text;
  cursor: pointer;
}
.favorited {
  color: $color-yellow;
  cursor: pointer;
}

.buy,
.sell {
  text-transform: capitalize;
  font-weight: 600;
  color: $color-green;
}

.sell {
  color: $color-red;
}

.loadingHolder {
  width: 100%;
  height: 100px;
}

.filterResultInfo {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 24px 0 8px;

  button {
    color: $color-red;
    font-weight: 500;
  }
}
