.container {
  width: 100%;
  label {
    margin-bottom: 12px;

    .group {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .span__1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
      }
    }
  }

  .box {
    width: 100%;
    .group__2 {
      position: relative;

      input {
        width: 100%;
        height: 44px;
        border: 1px solid #dee2e6;
        --bs-text-opacity: 1;
        color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
        border-radius: 4px;
        border-width: 1px;
        padding-left: 16px;
        padding-right: 16px;
        color: rgb(47 52 57 / var(--tw-text-opacity));
        --tw-text-opacity: 1;

        &:focus {
          --tw-border-opacity: 1;
          border-color: rgb(0 191 228 / var(--tw-border-opacity));
          --tw-shadow-colored: 0 0 #0000;
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          --tw-ring-color: transparent;
          --tw-ring-offset-width: 0px;
          --tw-ring-offset-color: transparent;
        }

        &:focus-visible {
          --tw-shadow-color: transparent;
          --tw-shadow: var(--tw-shadow-colored);
          outline: 2px solid transparent;
          outline-offset: 2px;
        }
      }

      .borderRed {
        --tw-border-opacity: 1;
        border-color: rgb(255 0 46 / var(--tw-border-opacity));
      }

      .icon {
        position: absolute;
        right: 14px;
        top: 14px;
      }
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      padding-left: 16px;
      padding-right: 16px;
      color: #ff002e !important;
      margin: 0px;
      margin-top: 8px;
      // margin-bottom: 24px;
    }
  }
}
