$white: #ffffff;
$black: #050206;
$background: #111024;

.container {
  height: 100vh;
  background-color: $background;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and(min-width: 1170px) {
    min-height: max(100vh, 1080px);
  }
  .content {
    max-width: 1423px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: $white;
    align-items: center;
    padding: 24px;
    @media screen and(min-width: 1170px) {
      display: flex;
      margin-bottom: 72px;
      padding: 0;
    }
    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 78px;
      @media screen and(min-width: 1170px) {
        margin-right: 170px;
        font-size: 64px;
      }
    }

    .description {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .imageGroup {
    width: 100%;
    height: auto;
    max-height: 803px;
    overflow: hidden;
  }
}
